CHAIN_ID=114
CHAIN_URL=https://coston2-api.flare.network/ext/C/rpc
MODE=1
SIMULATED_TEE=true
EXTENSION_ID=0x000000000000000000000000000000000000000000000000000000000001028c
INITIAL_OWNER=<authorized-coston2-owner>
GOVERNANCE_SIGNERS=<authorized-coston2-signer>
GOVERNANCE_THRESHOLD=1
PROXY_URL=http://concord-fcc-proxy:6663
CONFIG_PORT=5501
SIGN_PORT=7701
EXTENSION_PORT=7702
LOG_LEVEL=INFO

